<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>pollutionmonitoring</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <res-ref-name>jdbc/DefaultDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
  </resource-ref>
  <resource-ref>
    <res-ref-name>connectivityConfiguration</res-ref-name>
    <res-type>com.sap.core.connectivity.api.configuration.ConnectivityConfiguration</res-type>
  </resource-ref>
  <resource-ref>
    <res-ref-name>KeyStoreService</res-ref-name>
    <res-type>com.sap.cloud.crypto.keystore.api.KeyStoreService</res-type>
  </resource-ref>
  <resource-ref>
    <res-ref-name>onprem-plantdata-dest</res-ref-name>
    <res-type>com.sap.core.connectivity.api.http.HttpDestination</res-type>
  </resource-ref>
  <resource-ref>
    <res-ref-name>openaq-api-dest</res-ref-name>
    <res-type>com.sap.core.connectivity.api.http.HttpDestination</res-type>
  </resource-ref>
  <resource-ref>
    <res-ref-name>TenantContext</res-ref-name>
    <res-type>com.sap.cloud.account.TenantContext</res-type>
  </resource-ref>
  <servlet>
    <servlet-name>DataInitializationServlet</servlet-name>
    <servlet-class>com.sap.hana.cloud.samples.pollutionmonitoring.api.DataInitializationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataInitializationServlet</servlet-name>
    <url-pattern>/initialize</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CXFServlet</servlet-name>
    <servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
    <init-param>
      <param-name>jaxrs.serviceClasses</param-name>
      <param-value>
				com.sap.hana.cloud.samples.pollutionmonitoring.api.PlantDataService,
				com.sap.hana.cloud.samples.pollutionmonitoring.api.PollutionDataService
			</param-value>
    </init-param>
    <init-param>
      <param-name>jaxrs.providers</param-name>
      <param-value>org.codehaus.jackson.jaxrs.JacksonJsonProvider</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CXFServlet</servlet-name>
    <url-pattern>/api/v1/*</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>protected area</web-resource-name>
      <url-pattern>/api/v1/pollutiondata/</url-pattern>
      <url-pattern>/api/v1/plantdata/</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>AreaManager</role-name>
      <role-name>PlantSupervisor</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
  </login-config>
  <security-role>
    <role-name>PlantSupervisor</role-name>
  </security-role>
  <security-role>
    <role-name>AreaManager</role-name>
  </security-role>
</web-app>